.al-combo {
  &, > .dropdown-menu {
    width: 100%;
  }
  &, > .dropdown-menu > li > a {
    outline-style: none;
  }
  > .btn > div > span:first-child, > .dropdown-menu, > .dropdown-menu > li div {
    overflow-x: hidden;
  }
  > .btn > div > span:first-child, > .dropdown-menu > li div {
    text-overflow: ellipsis;
  }
  > .btn > div {
    align-items: center;
    display: flex;
    > span:first-child {
      flex: 1;
    }
  }
  > .dropdown-menu {
    overflow-y: auto;
    > li {
      user-select: none;
      &.active > a {
        pointer-events: none;
      }
      &.dropdown-header > div {
        cursor: default;
      }
      > a {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
      }
    }
  }
}
